<% content_for :title, "Results for " + @local_poll.name %>


<article>
  <header><h1>Results for <%= @local_poll.name %></h1></header>

  <ul>
    <% @local_poll.candidates.each do |candidate| %>
      <%= content_tag "li" do %>
        <%= content_tag "span", candidate.name, :class => :name %>
        <%= content_tag "span", candidate.affilliation, :class => :affilliation %>
        <%= content_tag "span", candidate.votes.size, :class => "vote-count" %>
      <% end %>
    <% end %>
    <%= content_tag "li" do %>
      None of the Above: <%= @local_poll.votes.where(:candidate_id => nil).count %>
    <% end %>
  </ul>

  <%= link_to "View national results", poll_results_path(@local_poll.poll), :class => "alternative-action" %>

</article>